<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-primary">
                关于我们
            </h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>

                服务特色
            </h4>
            <p>
                最佳地理条件，完美配套设施
                <br> ·坐落在市中心50 Market Street，交通便利
                <br> ·宽敞完美教室条件，中央空调充足照明打造舒适学习环境
                <br> ·专业PTE练习室一周七天开放，配套考试专用耳麦键盘打造模拟考场，并有值班老师辅导解疑。
            </p>
            <p>
                特色小班教学，班额猫本最低
                <br> ·65分保过班仅收6-8人，基础较差有特殊需求的4人即可开班，教学质量优先
                <br> ·79分菱形班仅收3人，全墨尔本班额最小，一切都为了冲击高分！
                <br> ·小班教学，大班价格，25小时保分班课程仅收780澳元，让每位学员都得到尊享体验！
            </p>
            <p>
                课程设计科学，适合各类人群
                <br> ·Unitop PTE下设多种班型，满足不同水平学员的需求
                <br> ·不论你是第一次接触PTE，还是想要迅速提分，2周内考到目标分数的PTE“老油条”，都有一款课程适合你！
                <br> ·特色网络课程，突破地域限制，无论你身在何处都如同和PTE名师面对面交流！
            </p>
            <p>
                多项福利优惠，奉上满满诚意
                <br> ·可免费试听，满意再交费！
                <br> ·所有咨询学生均可赠送PTE官方资料
                <br> ·正式学员配有独家教材，并赠送市面最高质量的真题机经，还可免费参加1对1成绩单分析！
                <br> ·问题答疑、作文批改、打卡群、机房练习、口语陪练，结课之后我们依然为你保驾护航！

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>
                教师团队
            </h4>
            <div class="row">
                {{#each trainers}}
                <div class="col-md-6">

                    <div class="media">
                        <a href="#" class="pull-left">
                            <img alt="Bootstrap Media Another Preview" src="http://placehold.it/200x200" class="media-object" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">
                                {{ name.full }}
                            </h4>

                            {{{ description }}}
                        </div>
                    </div>

                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>