
<div class="container unitop-container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center text-primary border-bottom">
				联系我们
			</h3>
			<div class="tabbable" id="tabs-275238">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-629739" data-toggle="tab">公司地址
						</a>
					</li>
					<li>
						<a href="#panel-302822" data-toggle="tab">诚聘英才</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-629739">

						<div class="row">
							<div class="col-md-12">

								<address style="padding-top:2rem; padding-left:1.5rem">
									<i class="fa fa-map-marker" aria-hidden="true"></i>联系地址:
									<br /> 
									<a style="font-size:1.4rem;margin-bottom:1rem">Level 10, 50 Market St, Melbourne Vic 3000</a>
									<br />
									<i class="fa fa-phone" aria-hidden="true"></i>联系电话
									<br>
									<a style="font-size:1.4rem;margin-bottom:1remm">0426 606 588</a>
									<br>
									<i class="fa fa-envelope-o" aria-hidden="true"></i>电子邮箱
									<br>
									<a style="font-size:1.4rem">info@unitoppte.com.au</a>
									<br>
								</address>

							</div>
							{{!-- <div class="col-md-12">
								<img alt="Bootstrap Image Preview" height="300" width="300" src="asset/marketing.jpg" />
							</div> --}}
						</div>
						<br>
						<br>
						<div class="row">
							<div class="col-md-12">
								<div id="map" style="width:100%;height:300px;"></div>
							</div>
						</div>

						<!--  -->
					</div>
					<div class="tab-pane" id="panel-302822">
						<!--  -->
						<br>
						<br>
						<div class="row">
							<div class="col-md-12">
								<p style="margin-left:1.5rem">Unitop PTE求贤若渴，不定期放出招聘信息广纳有才人士！
									<br> 请关注Unitop PTE的微信公众平台和小秘书朋友圈，留意相关招聘信息
									<br> 我们期待你们的加入！
									<br> 
									<br> 
									<br> 
									<img width="200px" height="200px" src="https://snag.gy/G2cZQf.jpg" />
									<br>
									（公众平台二维码）
									<br>
									<br>
									<br>
									<img width="200px" height="200px" src="https://snag.gy/ON1Lpj.jpg" />			
									<br>
									（小秘书二维码）
									<br>
								</p>

							</div>


						</div>
						<br>
						<br>
						<div class="row">
							<div class="col-md-4">
								<img src="asset/marketing.jpg" width="300" height="300" alt="">
							</div>
							<div class="col-md-4">
								<img src="asset/marketing.jpg" width="300" height="300" alt="">
							</div>
						</div>


						<!--  -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function myMap() {
		var myLatLng = { lat: -37.8172076, lng: 144.9593804 };
		var mapOptions = {
			center: new google.maps.LatLng(-37.8172076, 144.9593804),
			zoom: 16,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		}
		var map = new google.maps.Map(document.getElementById("map"), mapOptions);
		var marker = new google.maps.Marker({
			position: myLatLng,
			map: map,
			title: 'Hello World!'
		});
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>