<div class="container unitop-container">
    <div class="panel panel-default">

    <!-- Default panel contents -->
        <div class="panel-heading heading-font">
            {{ course.name }}
        </div>

        <div class="panel-body body-font">
            {{ course.summary }}
        </div>

    <!-- List group -->
        <ul class="list-group">

            <li class="list-group-item">
                {{{ course.description }}}
            </li>
        </ul>
    </div>
</div>