<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-primary">
                课程设置
            </h3>
        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="row well" style="margin: 0.4em;">

                <h2>
                    精品保过班
                </h2>
                <p>
                    最小班额 极速结课 保质保量 信誉包过 </p>
                <p>
                    <a class="btn" href="#">了解更多»</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row well" style="margin: 0.4em;">

                <h2>
                    1对1 VIP班
                </h2>
                <p>
                    私人订制 直击痛点 名师相助 飞速提分 </p>
                <p>
                    <a class="btn" href="#">了解更多»</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row well" style="margin: 0.4em;">

                <h2>
                    真题班
                </h2>
                <p>
                    真题干货 近期动态 满分答案 考前必备 </p>
                <p>
                    <a class="btn" href="#">了解更多»</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row well" style="margin: 0.4em;">

                <h2>
                    免费试听
                </h2>
                <p>
                    新手入门 快速答疑 成绩分析 学习规划
                </p>
                <p>
                    <a class="btn" href="#">了解更多»</a>
                </p>
            </div>
        </div>
    </div>
</div>