<div class="container unitop-container">
    <div class="panel panel-default">

    <!-- Default panel contents -->
        <div class="panel-heading heading-font">
            {{ experience.title }}
        </div>

        <div class="panel-body body-font">
            <h5>I am a picture</h5>
        </div>

    <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">
                {{{ experience.content }}}
            </li>
        </ul>
    </div>
</div>