{{!< default}} 
<div class="container unitop-container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				最新消息
			</h3>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="list-group">
				<a href="#" class="list-group-item active">PTE时讯</a>
				<div class="list-group-item">
					【突发】：PTE Voucher 七一开始停止售卖！
				</div>
				<div class="list-group-item">
					【喜讯】PTE成绩正式被工程类职业评估接受！

				</div>
				<div class="list-group-item">
					【应对攻略】手里的Voucher怎么办？还能刷考位么？
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				热门课程
			</h3>
		</div>
	</div>
	<br>
	<div class="row">

		{{#each courses}}

		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{ name }}
					</h3>
				</div>
				<div class="panel-body">
					{{ summary }}
				</div>
				<div class="panel-footer">
					<a href="/courses/{{key}}">了解更多</a>
				</div>
			</div>
		</div>
		{{/each}}

	</div>

	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				成绩单分享
			</h3>
			<br>
			<div class="row">
				<div id="results" class="owl-carousel" id="profile">
					<div class="item owl-height">
						<img src="asset/student_results/result-1.jpg">
					</div>

					<div class="item owl-height">
						<img src="asset/student_results/result-2.jpg">
					</div>

					<div class="item owl-height">
						<img src="asset/student_results/result-3.jpg">
					</div>
					<div class="item owl-height">
						<img src="asset/student_results/result-4.jpg">
					</div>

					<div class="item owl-height">
						<img src="asset/student_results/result-5.jpg">
					</div>

					<div class="item owl-height">
						<img src="asset/student_results/result-6.jpg">
					</div>
					<div class="item owl-height">
						<img src="asset/student_results/result-7.jpg">
					</div>
				</div>
			</div>
			<script>
				$(document).ready(function () {
					$(document).ready(function () {
						var owl = $("#results");
						owl.owlCarousel({
							items: 4,
							autoHeight: true,
							itemsDesktop: [1000, 4],
							itemsDesktopSmall: [900, 3],
							itemsTablet: [600, 1],
							itemsMobile: false,
							pagination: true
						});
					});

				});
			</script>

		</div>
	</div>
	</div>