<div class="container unitop-container">
    <div class="panel panel-default">

    <!-- Default panel contents -->
        <div class="panel-heading heading-font">
            {{ newscast.name }}
        </div>

    <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">
                {{{ newscast.description }}}
            </li>
        </ul>
    </div>
</div>